.posts_div{
    background-color: rgba(233, 231, 231, 0.514);
}

#posts {
    min-height: 500px;
}

.item_post .imageUser img{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
}

/* .item_post .imageUser img{
    width: 120px;
} */

.prueba-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin-left: 20px;
}

.prueba-wrapper .prueba-card {
    display: inline-block;
    flex: 0 0 auto;
    width: 300px;
}

.prueba-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card.body {
    height: 470px;
    padding: 20px;
}

.post_text {
    text-align: center;
    font-size: 15px;
    text-align: left;
    width: 100%;
    white-space: break-spaces;
    
}

.prueba-card {
    padding: 10px;
    text-align: center;
}

.posts_div {
    text-align: center;
    padding: 40px;
    padding-right: 70px;
}

.date {
    font-size: 13px;
}

.item_post .imagePost img{
    width: 230px;
    height: 230px;
    padding: 10px;
    margin-left: 3px;
    padding-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 15px;
}

